@model Activity.Models.Active
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
	<link href="/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
	<script src="/uploadify/swfobject.js" type="text/javascript"></script>
	<script src="/uploadify/jquery.uploadify.js" type="text/javascript"></script>
    <link href="/Plugins/WDatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css" />
    <script src="/Plugins/WDatePicker/WdatePicker.js" type="text/javascript"></script>

	<script type="text/javascript">
		function Edit() {
			if (!$.validatebox.valid()) {
				return;
			}

			var dataPara = $('#Form').serializeArray();
			var url = $("#LogoImgURL").val();
			dataPara.push({ name: 'pictureFile', value: url });
			dataPara.push({ name: "HomePictureFile", value: $("#LogoImgURL1").val() });

			HammerAjax('/admin/active/edit', dataPara, function (data) {
				if (data.Tag == 1) {
					alert("修改成功!");
					window.location.href = "/admin/active/index";
				}
				else {
					alert(data.Message);
				}
			});
		}

		$(function () {
			if ('@Model.IsDiscuss' == "Y") {
				$("#IsDiscuss").attr("checked", "checked");
			}
			$(".content").xheditor({ upImgUrl: "/Upload/UploadPicture", upFlashUrl: "/Upload/UploadVideo", upFlashExt: 'swf', upMediaUrl: "/Upload/UploadVideo", upMediaExt: "wmv,avi,wma,mp3,mp4,mid,swf", upImgExt: "jpg,jpeg,gif,png", html5Upload: false });

			$.validatebox.apply($("#CategoryID"));

			$("#showImg").attr("src", '/content/images/' + '@Model.PictureFile');
			$("#showImg").show();

			$("#showImg1").attr("src", '/content/images/' + '@Model.HomePictureFile');
			$("#showImg1").show();

			$("#uploadify1").uploadify({
				'uploader': "/uploadify/uploadify.swf?t=" + new Date().getTime(),
				'script': "/Upload/UploadImage",
				'cancelImg': "/uploadify/cancel.png",
				'queueID': 'fileQueue1',
				'folder': '/Content/Images/',
				'wmode': 'opaque',
				'auto': true,
				'multi': false,
				'buttonImg': "/uploadify/UpImg.gif",
				'width': '65',
				'height': '27',
				'fileDesc': '*.gif;*.jpg;*.jpeg;*.png',
				'fileExt': '*.gif;*.jpg;*.jpeg;*.png',
				'sizeLimit': 1024 * 500,
				'onSelect': function (e, fileObj) {
				},
				'onComplete': function (event, queueID, fileObj, response, data) {
					var obj = eval('(' + response + ')');
					$("#LogoImgURL1").val(obj.imgUrl);
					$("#LogoImgID1").val(obj.queueID);
					$("#showImg1").attr("src", '/content/images/' + obj.imgUrl);
					$("#showImg1").show();
				}
			});

			$("#uploadify").uploadify({
				'uploader': "/uploadify/uploadify.swf?t=" + new Date().getTime(),
				'script': "/Upload/UploadImage",
				'cancelImg': "/uploadify/cancel.png",
				'queueID': 'fileQueue',
				'folder': '/Content/Images/',
				'wmode': 'opaque',
				'auto': true,
				'multi': false,
				'buttonImg': "/uploadify/UpImg.gif",
				'width': '65',
				'height': '27',
				'fileDesc': '*.gif;*.jpg;*.jpeg;*.png',
				'fileExt': '*.gif;*.jpg;*.jpeg;*.png',
				'sizeLimit': 1024 * 500,
				'onSelect': function (e, fileObj) {
				},
				'onComplete': function (event, queueID, fileObj, response, data) {
					var obj = eval('(' + response + ')');
					$("#LogoImgURL").val(obj.imgUrl);
					$("#LogoImgID").val(obj.queueID);
					$("#showImg").attr("src", '/content/images/' + obj.imgUrl);
					$("#showImg").show();
				}
			});
		});
	</script>
}


<h2>编辑活动</h2>
<form id="Form">
	@Html.Partial("_Form")
	@Html.HiddenFor(m => m.IsPublic)
	@Html.HiddenFor(m => m.ActiveID)
    @if (!string.IsNullOrEmpty(Model.EndContent))
    {
        <div class="section">
	        <div class="section-header">
		        <h3>活动总结</h3>
	        </div>
	        <div class="section-body">
		        <div class="row">
			        @*@Html.TextAreaFor(m => m.Content, new { rows = 20, @class = "content", style = "width: 100%" })*@
			        <textarea id="EndContent" name="EndContent" rows="20" cols="100" class="content"
			        style="width: 100%">@Model.EndContent</textarea>
			        @*<cite>*</cite>*@
		        </div>
	        </div>
        </div>
    }
	<div class="section">
		<a onclick="Edit()" class="button-edit">提交修改</a>
	</div>
</form>