<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - 会员中心 - 厦门市机关团委</title>
	<link href="/App_Themes/Site/Style.css" rel="stylesheet" type="text/css" />
	<link href="/App_Themes/EasyUI/easyui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery-1.4.4.min.js"></script>
	@RenderSection("head", false)
</head>
<body>
	<div class="grid">
		<div class="main">
			<div class="header">
				<div class="logo">
					<center>
						<em><a href="/" style="color: White; display: block; line-height: 45px; font-size: large;">警营活动网</a></em>
					</center>
				</div>
				<a href="/">
					<div class="searchTit">
					
					</div>
				</a>
				<div class="searchInp fix">
					<form id="searchForm" method="post" action="/home/search">
						<a href="javascript:void(0);" onclick="Search()"></a>
						<input type="text" class="js_inputs" id="keyword" name="keyword" value="">
					</form>
				</div>
				@if (!User.Identity.IsAuthenticated)
	{
				<div class="land">
					<em><a href="/login">登录</a> | 
					<a href="/login/register">注册</a></em>
				</div>
	}
	else
	{
		<div class="ico">
				<ul>
					<li><font style="color:#FFF">您好，</font><a href="/account/profile/index" class="" title="@User.Identity.Name" style="background:none;color:#ffffff">@User.Identity.Name</a> [<a href="/login/logout" class="logout" style="background:none;">退出</a>]</li>
					<!--<li><a href="http://www.mosh.cn/logout" class="" style="background:none;width:50px;color:#ffffff">退出</a></li>-->
					@*<li><a href="http://www.mosh.cn/uc/account/identity" style="width:21px;float:left;" title="进入个人中心" class="personal"></a></li>*@
				</ul>
			</div>
	}
				
			</div>
			<div class="indexConter">
				<div id="indexLert" class="indexLert">
					<div class="submenu">
						<div class="menu-list">
							<h2>网站导航</h2>
							<ul>
								<li><a href="/"><span class="e"></span>前台首页</a></li>
								<li><a href="/home/Categories"><span class="f"></span>活动列表</a></li>
							</ul>
							<h2>活动管理</h2>
							<ul>
								<li><a href="/account/active/add"><span class="f">发起活动</span></a></li>
								<li><a href="/account/active/NotStart"><span class="e"></span>即将开始</a></li>
								<li><a href="/account/active/index"><span class="e"></span>进行中</a></li>
								<li><a href="/account/active/EndActive"><span class="e"></span>已结束</a></li>
								<li><a href="/account/active/wait"><span class="f"></span>审核中</a></li>               
							</ul>
							<h2>报名记录</h2>
							<ul>
								<li><a href="/account/active/applies">报名记录</a></li>
							</ul>
							<h2>账号中心</h2>
							<ul>
								<li><a href="/account/profile">我的资料</a></li>
								<li><a href="/account/profile/safe">账号安全</a></li>
								<li><a href="/login/logout">安全退出</a></li>
							</ul>
						</div>
					</div>
				</div>
				@RenderBody()
			</div>
			<div style="clear:both"></div>
			<div id="footer">
				<center><p style="line-height: 40px;">厦门公安局 版权所有</p></center>
			</div>
		</div>
	</div>
	
	<script src="/Scripts/jquery.easyui.js" type="text/javascript"></script>
	<script src="/Scripts/Form.js" type="text/javascript"></script>
	<script src="/Scripts/validate.js" type="text/javascript"></script>

	@RenderSection("scripts", false)
	<script type="text/javascript">
		function Search() {
			var keyword = $("#keyword").val();

			if (!keyword) {
				alert("请输入要搜索的关键字！！");
				return;
			}

			$("#searchForm").submit();
		}
	</script>
</body>
</html>
